@font-face {
         font-family: 'Tangerine';
         src: url('http://fonts.googleapis.com/css?family=Tangerine');
         font-weight: normal;
         font-style: normal;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Centaur;
  font-family:
  width: 100%;
  height: 100%;
}
#recipeInfo{
  width: 100%;
  padding: 5px 50px 20px 100px;
}
#recipeDataContainer {
  padding-top: 0px;
  width: 98%;
  height: 45%;
  position: relative;
  height: 400px;
  padding: 5px 20px 20px 20px;
  /*border: 1px solid black;*/
}

#recipeImgContainer{
  float: left;
  width: 300px;
  height: 85%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /*padding-top: 5px;*/
  /*padding-bottom: 0px;*/
  margin-bottom: 20px;
  margin-top: 20px;
  /*border: 1px solid black;*/
}
#recipeImg {
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  /*display: block;*/
  /*margin-left: auto;
  margin-right: auto;
  vertical-align: middle;*/
}

#recipeData {
  height: 400px;
  float: left;
  padding-top: 0px;
  width: 68%;
  height: 100%;
  text-align: center;
  }
#recipeTitle {
  font-size: 40px;
  text-align: center;
  padding-top: 0px;
  /*line-height: 1px;*/
}

#recipeStepsContainer {
  width: 100%;
  height: 75%;
  /*position: relative;*/
  float: left;
}
#recipeMetaData {
  vertical-align: middle;
  width: 35%;
  /*padding-top: 100px;*/
  margin-top: 50px;
  padding-left: 30px;
  padding-top: 0px;
  /*padding-bottom: 10px;*/
  float: left;
  font-size: 25px;
  line-height:0px;
  padding-right: 5px;

  /*border: solid 1px black;*/
  text-align: left;
}
#ingredients {
  line-height: 20px;
  border-left: 1px solid black;
  /*border: solid 1px black;*/

  font-size: 15pt;
  text-align: left;
  position: relative;
  width: 55%;
  height: 98%;
  float: left;
  padding-left: 30px;
  padding-top: 5px;
  overflow-y: scroll;
  /*resize: both;
  overflow: auto;*/
}
.recipeInstructions {
  font-size: 18pt;
  line-height: 20px;
  position: relative;
    float: left;
    width: 90%;
    padding-top: 0px;
}
.similarRecipies {
  padding-left: 100px;
  line-height: 0px;
}
#relatedRecipies {
  position: relative;
  padding: 50px 50px 20px 100px;
  overflow: hidden;
  width: 90%;
}
#relatedRecipies div {
  padding-bottom: 30px;
  height: 250px;
  position: relative;
  width: 25%;
  float: left;
}
#relatedRecipies div a {
  position: absolute;
  display: block;
  width: 100%;
  left: 1px;
  right: 1px;
  top:1px;
  bottom: 10px;
}
#relatedRecipies div a:hover{
  /*box-shadow: 0 1px 5px 1px #cccccc;*/
  box-shadow: 0 1px 5px 1px #0000A0;
}
#relatedRecipies div a div {
  position: absolute;
  width: 100%;
  /*height: 100%;*/
  left: 1px;
  right: 1px;
  top:1px;
  bottom: 10px;
}
#relatedRecipies div a div img {
  width: 58%;
  height: 80%;
}
#relatedRecipies div a div p {
  float: right;
  width: 40%;
  padding-right: 3px;
  height: 100%;
  vertical-align: top;
  /*top: 2px;*/
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
